In [1]:
import pandas as pd
import scipy.io
from scipy.io import loadmat 
from struct import Struct

# Reading In Data

In [2]:
data = loadmat('url.mat')

In [58]:
mdata = data['Day1']
ndata =  {n: mdata[n][0, 0] for n in mdtype.names}
ndata

{'data': <20000x3231961 sparse matrix of type '<class 'numpy.float64'>'
 	with 2304202 stored elements in Compressed Sparse Column format>,
 'labels': array([[0],
        [0],
        [0],
        ...,
        [0],
        [0],
        [0]], dtype=uint8)}

In [59]:
df = pd.DataFrame(ndata['data'].todense())

In [60]:
df.insert(0, "Malicious", ndata['labels'], True)

In [61]:
df.head()

,Malicious,0,1,2,3,4,5,6,7,8,...,3231951,3231952,3231953,3231954,3231955,3231956,3231957,3231958,3231959,3231960
0,0,0.0,0.0,0.0,0.078838,0.124138,0.117647,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,1.0,0.0,0.070539,0.110345,0.117647,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.045643,0.068966,0.117647,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.037344,0.062069,0.058824,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,1.0,0.0,0.095436,0.158621,0.117647,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Training / Testing Data

# Models